.btn{
    background: #FF4400;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 14px 30px 12px;
    border-radius: 6px;
    border: 0;
    display: block;
    margin: 20px auto;
    cursor: pointer;
}